{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 class="my-4">Welcome</h1>

{% if 'access_token' not in session %}
    <a href="{{ url_for('register') }}" class="btn btn-primary">Register</a>
    <a href="{{ url_for('login') }}" class="btn btn-secondary">Login</a>
{% endif %}

{% if 'access_token' in session %}
    <div class="container">
        <br/>
        <br/>
        <h2>Available Packs</h2>
        <br/>
        {% if packs %}
            <div class="accordion" id="packsAccordion">
                {% for pack in packs %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{ loop.index }}">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                                {{ pack.pack_name }}
                            </button>
                        </h2>
                        <div id="collapse{{ loop.index }}" class="accordion-collapse collapse show" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#packsAccordion">
                            <div class="accordion-body">
                                <div class="accordion" id="contentAccordion{{ loop.index }}">
                                    {% for content in pack.contents %}
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingContent{{ loop.index }}{{ loop.index0 }}">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseContent{{ loop.index }}{{ loop.index0 }}" aria-expanded="false" aria-controls="collapseContent{{ loop.index }}{{ loop.index0 }}">
                                                    {% if content.data_type == 'file' %}File: {{ content.filename }}{% else %}Web Content: {% endif %}
                                                </button>
                                            </h2>
                                            <div id="collapseContent{{ loop.index }}{{ loop.index0 }}" class="accordion-collapse collapse" aria-labelledby="headingContent{{ loop.index }}{{ loop.index0 }}" data-bs-parent="#contentAccordion{{ loop.index }}">
                                                <div class="accordion-body">
                                                    <p>{{ content.content }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No packs available.</p>
        {% endif %}
        <br/>
        <a href="/packman" class="btn btn-primary">Add Pack</a>
        <a href="/del-pack" class="btn btn-danger">Delete Pack</a>
        <br/>
        <br/>
    </div>
{% endif %}

{% endblock %}
