{% extends "base.html" %}
{% block title %}PackMan{% endblock %}
{% block content %}
<header class="bg-primary text-white text-center py-3">
    <h1>Pack Panel</h1>
</header>
<br/>
<br/>
<div class="container">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Step 1. Data
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <form id="packNameForm">
                <label for="packName" class="form-label">Pack Name (Required)</label>
                <input type="text" class="form-control" id="packName" name="pack_name" aria-describedby="pack-name">
              </form>
              <br/>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Choose Data Type
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" onclick="showMessage('file')">File</a></li>
                  <li><a class="dropdown-item" href="#" onclick="showMessage('webpage')">Webpage</a></li>
                </ul>
              </div>
              <div id="message" class="mt-3"></div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Step 2. Confirm Pack
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p id="packagedData">No Data to pack</p>
            </div>
          </div>
        </div>
    </div>
</div>
<br/>
<br/>
<script>
    function showMessage(type) {
        const messageDiv = document.getElementById('message');
        const packNameValue = document.getElementById('packName').value;
        if (type === 'file') {
            messageDiv.innerHTML = `
                <p class="text-danger">You are about to add a file.</p>
                <form id="fileForm" enctype="multipart/form-data" onsubmit="submitFile(event)">
                    <input type="file" name="file" class="form-control mt-2" required>
                    <input type="hidden" name="pack_name" value="${packNameValue}">
                    <br/>
                    <button type="submit" class="btn btn-primary" onclick="disablePackName()">Add Data</button>
                </form>
                <br/>
                <div class="container">
                  <button type="button" class="btn">Base class</button>
                  <br/>
                  <!-- Content here -->
                  <p id="previewText">No data to preview</p>
                </div>
            `;
        } else if (type === 'webpage') {
            messageDiv.innerHTML = `
                <p class="text-info">You are about to add a webpage.</p>
                <form id="linkForm" onsubmit="submitLink(event)">
                    <input type="url" name="link" class="form-control mt-2" placeholder="Enter web link" required>
                    <input type="hidden" name="pack_name" value="${packNameValue}">
                    <br/>
                    <button type="submit" class="btn btn-primary" onclick="disablePackName()">Add Data</button>
                </form>
                <br/>
                <div class="container">
                  <!-- Content here -->
                  <p id="previewText">No data to preview</p>
                </div>
            `;
        }
    }

    function disablePackName() {
        document.getElementById('packName').disabled = true;
    }

    function submitLink(event) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);

        fetch('/packman/web_pack', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.message === 'Link processed successfully') {
                document.getElementById('previewText').innerHTML = `<div class="accordion accordion-flush border" id="accordionFlushExample">
                                                                      <div class="accordion-item">
                                                                        <h2 class="accordion-header">
                                                                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                                                            View/Hide Preview
                                                                          </button>
                                                                        </h2>
                                                                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                                                          <div class="accordion-body text-wrap">Data preview: ${JSON.stringify(data.docs)}</div>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                    <br/>
                                                                    <button type="button" class="btn btn-primary" onclick="openAccordionTwo()">Publish to Pack</button>`;
                alert(data.message);
            } else {
                document.getElementById('previewText').innerHTML = 'No data to preview';
                alert('Failed to process link');
            }
        })
        .catch(error => {
            document.getElementById('previewText').innerHTML = 'No data to preview';
            console.error('Error:', error);
            alert('Failed to process link');
        });
    }

    function submitFile(event) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);

        fetch('/packman/file_pack', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.message === 'File uploaded successfully') {
                document.getElementById('previewText').innerHTML = `<p>Data preview: ${data.filename}</p>
                                                                    <button type="button" class="btn btn-primary" onclick="openAccordionTwo()">Publish to Pack</button>`;
                alert(data.message);
            } else {
                document.getElementById('previewText').innerHTML = 'No data to preview';
                alert('Failed to upload file');
            }
        })
        .catch(error => {
            document.getElementById('previewText').innerHTML = 'No data to preview';
            console.error('Error:', error);
            alert('Failed to upload file');
        });
    }

    function openAccordionTwo() {
        const collapseTwo = new bootstrap.Collapse(document.getElementById('collapseTwo'), {
            toggle: false
        });
        collapseTwo.show();
        
        document.getElementById('packagedData').innerText = 'It worked there is data to pack!';
    }
</script>
{% endblock %}
