{% extends "base.html" %}
{% block title %}PackMan{% endblock %}
{% block content %}
<header class="bg-primary text-white text-center py-3">
    <h1>Pack Panel</h1>
</header>
<br/>
<br/>

<div class="container">
    <button type="button" class="btn btn-danger" id="backHome">Back</button>
    <br/>
    <br/>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Step 1. Data
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form id="packNameForm">
                        <label for="packName" class="form-label">Pack Name (Required)</label>
                        <input type="text" class="form-control" id="packName" name="pack_name" aria-describedby="pack-name">
                    </form>
                    <br/>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Choose Data Type
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" onclick="showMessage('file')">File</a></li>
                            <li><a class="dropdown-item" href="#" onclick="showMessage('webpage')">Webpage</a></li>
                        </ul>
                    </div>
                    <div id="message" class="mt-3"></div>
                    <div id="dataEntries" class="mt-3"></div>
                    <br/>
                    <button type="button" class="btn btn-primary" id="reviewButton" style="display: none;" onclick="openAccordionTwo()">Review Pack Data</button>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Step 2. Confirm Pack
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div id="packagedData">No Data to pack</div>
                    <div id="previewData"></div>
                    <br/>
                    <button class="btn btn-primary" onclick="publishPack()">Publish to Pack</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
<script>
    const packData = [];

    document.getElementById('backHome').onclick = function() {
        window.location.href = '/';
    };

    function showMessage(type) {
        const messageDiv = document.getElementById('message');
        const packNameValue = document.getElementById('packName').value;
        if (type === 'file') {
            messageDiv.innerHTML = `
                <p class="text-danger">You are about to add a file.</p>
                <form id="fileForm" enctype="multipart/form-data" onsubmit="submitFile(event)">
                    <input type="file" name="file" class="form-control mt-2" required>
                    <input type="hidden" name="pack_name" value="${packNameValue}">
                    <br/>
                    <button type="submit" class="btn btn-primary">Add Data</button>
                </form>
            `;
        } else if (type === 'webpage') {
            messageDiv.innerHTML = `
                <p class="text-info">You are about to add a webpage.</p>
                <form id="linkForm" onsubmit="submitLink(event)">
                    <input type="url" name="link" class="form-control mt-2" placeholder="Enter web link" required>
                    <input type="hidden" name="pack_name" value="${packNameValue}">
                    <br/>
                    <button type="submit" class="btn btn-primary">Add Data</button>
                </form>
            `;
        }
    }

    function disablePackName() {
        document.getElementById('packName').disabled = true;
    }

    function addDataEntry(type, value) {
        const dataEntries = document.getElementById('dataEntries');
        const entry = document.createElement('div');
        entry.classList.add('mt-2');
        entry.innerHTML = `
            <input type="text" class="form-control" value="${type}: ${value}" disabled>
        `;
        dataEntries.appendChild(entry);

        document.getElementById('reviewButton').style.display = 'block';
    }

    function submitLink(event) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);
        const link = formData.get('link');

        fetch('/packman/preview_link', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ link: link })
        })
        .then(response => response.json())
        .then(data => {
            if (data.message === 'Link processed successfully') {
                const content = data.docs.map(doc => doc.content).join(' ');
                packData.push({ content: content, data_type: 'link' });
                addDataEntry('Link', link);
                form.reset();
                disablePackName();
            } else {
                console.error('Failed to fetch preview for link:', data);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function submitFile(event) {
        event.preventDefault();
        const form = event.target;
        const fileInput = form.querySelector('input[name="file"]');
        const file = fileInput.files[0];

        const reader = new FileReader();
        reader.onload = function(e) {
            packData.push({ content: e.target.result, data_type: 'file', filename: file.name });
            addDataEntry('File', file.name);
            form.reset();
            disablePackName();
        };
        reader.readAsText(file);
    }

    function openAccordionTwo() {
        const collapseTwo = new bootstrap.Collapse(document.getElementById('collapseTwo'), {
            toggle: false
        });
        collapseTwo.show();

        const dataEntries = document.getElementById('dataEntries').querySelectorAll('input');
        let packagedDataContent = '';
        dataEntries.forEach((entry, index) => {
            packagedDataContent += `<p>${entry.value}</p>`;
        });
        document.getElementById('packagedData').innerHTML = packagedDataContent || 'No Data to pack';

        fetchPreviewData();
    }

    function fetchPreviewData() {
        const previewDataDiv = document.getElementById('previewData');
        previewDataDiv.innerHTML = '';

        packData.forEach((entry, index) => {
            const accordionItem = createAccordionItem(`${entry.data_type.charAt(0).toUpperCase() + entry.data_type.slice(1)} ${index + 1}`, entry.content);
            previewDataDiv.appendChild(accordionItem);
        });
    }

    function createAccordionItem(title, content) {
        const item = document.createElement('div');
        item.classList.add('accordion-item');
        item.innerHTML = `
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse${title.replace(/\s+/g, '')}" aria-expanded="false" aria-controls="flush-collapse${title.replace(/\s+/g, '')}">
                    ${title}
                </button>
            </h2>
            <div id="flush-collapse${title.replace(/\s+/g, '')}" class="accordion-collapse collapse" data-bs-parent="#previewData">
                <div class="accordion-body text-wrap">${content}</div>
            </div>
        `;
        return item;
    }

    function publishPack() {
        const packName = document.getElementById('packName').value;
        if (!packName) {
            alert('Pack name is required');
            return;
        }

        const token = sessionStorage.getItem('access_token');

        const contents = packData.map(entry => {
            return {
                content: entry.content,
                data_type: entry.data_type,
                filename: entry.filename
            };
        });

        fetch('/packman/package_pack', {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${token}`,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ pack_name: packName, contents: contents })
        })
        .then(response => {
            if (!response.ok) {
                return response.json().then(err => {
                    throw new Error(err.message || 'Failed to process pack');
                });
            }
            return response.json();
        })
        .then(data => {
            console.log('Response data:', data);
            if (data.message) {
                alert(data.message);
            } else {
                alert('Pack processed successfully');
            }
        })
        .catch(error => {
            console.error('Error:', error.message);
            alert(error.message || 'Failed to process pack');
        });
    }
</script>
{% endblock %}
